# 1

In [6]:
years_of_birth = [1990, 1991, 1990, 1990, 1992, 1991, 1976, 1984, 1940]

In [15]:
age = [2020 - year for year in years_of_birth]
age

[30, 29, 30, 30, 28, 29, 44, 36, 80]

# 2

In [39]:
def is_palindrome(input_string):
    if (input_string == input_string[::-1]):
        return True
    else:
        return False

In [41]:
is_palindrome("madam")

False

# 3

In [100]:
sum([number for number in range(1, 1001) if number % 3 == 0 or number % 5 == 0])

234168

# 4

In [63]:
def remove_dupes(input_list):
    new_list = []
    for i in input_list: 
        if i not in new_list: 
            new_list.append(i) 
    return new_list

In [64]:
input_list = ["I", "am", "counting", "my", "calories", "yet", "I", "really", "want", "dessert", "I", "am", "still", "hungry"]

remove_dupes(input_list)

['I',
 'am',
 'counting',
 'my',
 'calories',
 'yet',
 'really',
 'want',
 'dessert',
 'still',
 'hungry']

# 5

In [102]:
def list_overlap(list_1, list_2):
    overlap = []
    for i in list_1:
        if i in list_2 and i not in overlap:
            overlap.append(i)
    return overlap

In [103]:
list1 = [1, 4, 5, 6, 6, 5, 10, 11, 12]
list2 = [3, 2, 6, 10]
list_overlap(list1, list2)

[6, 10]

# 6

In [116]:
def fibonacci(n):
    a = 0
    b = 1
    for i in range(0, n):
        temp = a
        a = b
        b = temp + b
    return a

for c in range(0, ):
    print(fibonacci(c))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [113]:
Fibonacci()

5

# 7

In [126]:
def dictionary_maker(input_list):
    for i in input_list:
        dict = {}
            i : count(input_list, i)
        
        return dict

In [127]:
dictionary_maker(input_list)

NameError: name 'count' is not defined